<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>servicio1</title>
</head>
<body>
    <H1> Este es el primer servicio </H1>
    {% block content %}
    {% endblock %}
</body>
</html>